    $color-primary: #1f2c38;
    $color-primary-light: #364553;
    $color-secondary: #008080;
     :root {
        --color-grey-light-1: #faf9f9;
        --color-grey-light-2: #f4f2f2;
        --color-grey-light-3: #f0eeee;
        --color-grey-light-4: #ccc;
        --color-grey-dark-1: #333;
        --color-grey-dark-2: #777;
        --color-grey-dark-3: #999;
        --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
        --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
        --line: 1px solid var(--color-grey-light-2);
    }

    $bp-largest: 75em; // 1200px
    $bp-large: 68.75em; // 1100px
    $bp-medium: 56.25em; // 900px
    $bp-small: 37.5em; // 600px
    $bp-smallest: 31.25em; // 500px
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    html {
        box-sizing: border-box;
        font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
        @media only screen and (max-width: $bp-large) {
            font-size: 50%;
        }
    }

    body {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 1.6;
        color: var(--color-grey-dark-2);
        background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
        background-size: cover;
        min-height: 100vh;
        box-sizing: border-box;
    }

    // Layouts
    .container {
        // background-color: var(--color-grey-light-1);
        background-image: radial-gradient(circle, $color-primary-light, $color-primary);
        box-shadow: var(--shadow-dark);
        min-height: 50rem;
        @media only screen and (max-width: $bp-largest) {
            margin: 0;
            max-width: 100%;
            width: 100%;
        }
    }

    .header {
        font-size: 1.4rem;
        height: 7rem;
        padding: .5rem;
        box-sizing: border-box;
        background-color: #CCC;
        border-bottom: var(--line);
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: $bp-smallest) {
            flex-wrap: wrap;
            align-content: space-around;
            height: 11rem;
        }
    }

    .content {
        display: flex;
        min-height: calc(100vh - 7rem);
        font-size: 2rem;
        color: #C0C0C0;
        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
        }
        &>* {
            display: flex;
            flex-direction: column;
            &.profile__list {
                width: 20%;
                @media only screen and (max-width: $bp-smallest) {
                    width: 100%;
                    height: 16rem;
                    overflow: scroll;
                    border-bottom: 1px solid grey;
                }
            }
            &.profile__detail {
                padding: 1rem;
                width: 80%;
                @media only screen and (max-width: $bp-smallest) {
                    width: 95%;
                    grid-row-gap: 1rem;
                }
            }
        }
        &>.user__profile {
            display: flex;
        }
        &>.home__tour {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
            @media only screen and (max-width: $bp-medium) {
                margin: auto;
            }
            &>.hint {
                font-size: 1.6rem;
                font-style: italic;
                @media only screen and (max-width: $bp-medium) {
                    padding: 3rem;
                }
            }
        }
    }

    // Components
    ////////////////////////////////////////
    // LOGO
    .logo__box {
        display: flex;
        align-items: center;
        &>.logo {
            height: 3.25rem;
            margin-left: 2rem;
        }
        &>.logo__title {
            margin-left: 2rem;
        }
    }

    app-profile-list {
        width: 100%;
    }

    app-profile-detail {
        width: 100%;
    }

    ////////////////////////////////////////
    // SEARCH
    .search {
        flex: 0 0 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        @media only screen and (max-width: $bp-smallest) {
            order: 1;
            flex: 0 0 100%;
        }
        &__input {
            font-family: inherit;
            font-size: inherit;
            color: inherit;
            border: none;
            padding: .7rem 2rem;
            border-radius: 100px;
            width: 90%;
            transition: all .2s;
            margin-right: -3.25rem;
            @media only screen and (max-width: $bp-smallest) {
                width: 70%;
            }
            &:focus {
                outline: none;
                width: 95%;
                @media only screen and (max-width: $bp-smallest) {
                    width: 75%;
                }
            }
            &::-webkit-input-placeholder {
                font-weight: 100;
                color: var(--color-grey-light-4);
            }
        }
        &__input:focus+&__button {
            // background-color: var(--color-grey-light-3);
        }
        &__button {
            border: none;
            background-color: var(--color-grey-light-2);
            &:focus {
                outline: none;
            }
            &:active {
                transform: translateY(2px);
            }
        }
        &__icon {
            height: 2rem;
            width: 2rem;
            fill: var(--color-grey-dark-3);
        }
    }
